{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Create A New Bank
            </legend>
            <div class="form-group">
                {{form.location.label(class="form-control-label")}}
                {% if form.location.errors %}
                    {{form.location(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.location.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{form.location(class="form-control form-control-lg")}}
                {% endif %}       
            </div>
            <div class="form-group">
                {{form.manager_id.label(class="form-control-label")}}
                {% if form.manager_id.errors %}
                    {{form.manager_id(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.manager_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{form.manager_id(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </fieldset>
    </form>
    <table class="table">
        Current Banks
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Location</th>
            <th scope="col">Manager</th>
          </tr>
        </thead>
        <tbody>
            {% for item in table %}
            <tr>
                <th scope="row">{{ table[item]["id"] }}</th>
                <td>{{ table[item]["location"] }}</td>
                <td>{{ table[item]["manager"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}