{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Please enter how many units you are requesting of blood or plasma.
                If we currently do not have that amount we will send you the rest of what we do have.
            </legend>
            <div class="form-group">
                {{form.blood_type.label(class="form-control-label")}}
                {% if form.blood_type.errors %}
                {{form.blood_type(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.blood_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.blood_type(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.blood_or_plasma.label(class="form-control-label")}}
                {% if form.blood_or_plasma.errors %}
                {{form.blood_or_plasma(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.blood_or_plasma.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.blood_or_plasma(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                Please either enter a number or the word "all"
                {% if form.units.errors %}
                {{form.units(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.units.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.units(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </fieldset>
    </form>

    <table class="table">
        Current Supply
        <thead>
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Type</th>
                <th scope="col">Units</th>
            </tr>
        </thead>
        {% for location in all_donations %}
        <tbody>
            {% for item in all_donations[location] %}
            <tr>
                <td>{{ all_donations[location][item]["location"] }}</td>
                <td>{{ all_donations[location][item]["type"] }}</td>
                <td>{{ all_donations[location][item]["count"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>

</div>
{% endblock content %}